body {
  background-image: url(images/background-photo.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

html body {
  background-color: #ffff;
  overflow: hidden;
  font-family: 'Inconsolata', monospace;
  min-width: 100vw;
  height: 100vh;
  margin: 0;
}

HTML CSS Result Skip Results Iframe *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
/* ここから */
figure {
  text-align: center;
  margin: 20em 0 0 0;
}

.container {
  font-family: 'Courier New', sans-serif;
  width: 300px;
  margin: 30px auto 0;
  text-align: center;
  font-weight: bold;
}

#target,
#result {
  font-size: 32px;
  margin-bottom: 15px;
  background: #ccc;
  height: 60px;
  line-height: 60px;
}

#start {
  float: left;
}

#stop {
  float: right;
}

#start,
#stop {
  cursor: pointer;
  font-size: 18px;
  width: 145px;
  background: #eee;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 6px #ccc;
}

#result.standby {
  opacity: 0.5;
}

#result.perfect {
  background: #fa5858;
  color: #fff;
}

#start.pushed,
#stop.pushed {
  margin-top: 3px;
  box-shadow: 0 3px 0 #ccc;
}

.img-fluid-fire {
  position: absolute;
  top: 425px;
  left: 565px;
  z-index: -1;
}

.img-fluid-people {
}
